body{
    margin: 0;
}

li{
    margin-bottom: 5%;
}

.col { 
    min-height: 100vh; 
}


.menu{
    width: 20%;
    position: fixed;
    z-index: 100;
    background-image: url('../img/fondo1.jpg');  
    max-width: 100%;
}

.peliculas{
    background: black;
    margin-left: 20%;
    width: 80%;
}

#box-pelicula div:hover{
    background-color: wheat;
}